* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color:  #603bbb;
  background-color: #e3fcff;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 20px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 50px 20px 20px 5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 50%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0 , 0, 0.2);
  padding: 18px;
  text-align: center;
  background-color:  #603bbb;

 border-radius: 15px;
}
.card h3{
  color: white;
}
.card:hover {
    transform: scale(1.1);
    cursor: pointer;
}
