@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
    font-family: 'Poppins', sans-serif;
    padding:0px;
    margin:0px;
    max-width:100vw;
    overflow-x:hidden;
    scroll-behavior: smooth;
      background-color: #e3fcff;
}


#top_part {
    width:100%;
    border:2vh solid #fff;
}
#top_part tr td{
    width:50%;
}

#Img {
    width:100%;
    height:95vh;
    background:url("image/Eduar.png");
    background-size:cover;
    background-repeat:no-repeat;
}

#about {
    width:92vw;
    padding:6vh 4vw;
    font-weight:bold;
}
#about h1 {
    padding: auto;
    border-bottom: solid  #603bbb;;
    
}


.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    color: rgb(255, 255, 255);
    text-align: center;
    height: 120px;
    line-height: 120px;
}
.footer-content {
    background-color: #333333;
}
::placeholder {
    color:#000;
}
button:focus {
    outline:none;
}
::-webkit-scrollbar {
    width:5px;
    height:5px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: rgb(0, 0, 0);
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0,0.8);
}

@media (max-width: 1000px){

    #rightImage {
        display:none;
    }
    #top_part {
        border:0px;
    }
    #top_part tr td{
        width:100%;
        text-align:center;
    }

    #bio h1 {
        width:25%;
    }

}
